html,body{
	height: 100%;
	width: 100%;
	font-family: 'EB Garamond', serif;
}

.pad-section{
	padding: 50px 0;
}

#home{
	display:table;
	height:100%;
	position:relative;
	width:100%;
	text-align: center;
	color:#FFF;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
.carousel {z-index: -99;}

.carousel .item {
	position:fixed;
	width:100%; height:100%;
}
	
.ad1{background: url(../img/bg.jpg) repeat center center fixed;
	background-size: cover;
    -moz-background-size: cover;
}
.ad2{background: url(../img/bg2.png) no-repeat center center fixed;
	background-size: cover;
    -moz-background-size: cover;
}
.ad3{background: url(../img/tweed.png) no-repeat center center fixed;
	background-size: cover;
    -moz-background-size: cover;
}
	
	#home  .btn-default{
	background-color:none;
	background:none;
	color:white;
	border:solid 5px white;
	}
	
	#services{
	background-color:orange;
		color: #ffffff;
	}
	#services .glyphicon{
		font-size:60px;
	}
	
	#about{
		background:url(../img/binding_dark.png) repeat center center fixed;
		color:#FFFFFF;
	}
	
	#contact{
		background-color:#E3E3E3;
	}

.text-vcenter{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	z-index:2;
}

.text-vcenter h1 {
	font-size:4.5em;
	font-weight:700;
	margin:0;
	padding:0;
}

#services h2{
	font-weight:bold;
}

footer{
	padding: 20px 0;
	background-color:#ACACAC;
}

img.bio{
filter: grayscale(100%);
border:solid 5px white;
-webkit-filter: grayscale(100%); /* For Webkit browsers */
filter: gray; /* For IE 6 - 9 */
-webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
}

img.bio:hover{
filter: grayscale(0%);
-webkit-filter: grayscale(0%);
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
}

/*  Navbar active  */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	background:none;
	font-size:18px;
	color:white;
	border: 2px solid white;
} 

/* Navbar hover */
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: none;
	font-size:14px;
	color:yellow;
}

.navbar-default .navbar-nav >li>a {
	font-size:12px;
	color:white;
}

/* Navbar menu color */
.navbar-default{
	background: none; /*background: rgba(206, 218, 242, 0);*/
	border: none;
	margin-top:5px;
	margin-right:5px;
}

#contact .container{
	background-color:#EEE;
}